.bg-light{
    background-color: #fef1f0 !important;
}

.text-gray{
    color: #767676 !important;
}

.text-primary{
    color: #F9A392 !important;
}

h1, h2, .font-weight-bold{
    font-weight: 700 !important;
}

.navbar{
    padding: 0.5rem 1rem;
}

.navbar-light, .navbar-nav, .nav-link:hover, .navbar-light, .navbar-nav, .nav-link.active {
    color: #F9A392 !important;
}

.navbar-light, .navbar-nav, .nav-link {
    padding: 10px 15px !important;
    font-weight: 600 !important;
    font-size: 20px;
    letter-spacing: 1px;
    color: #211E1C;
    outline: none;
  }


.m-auto{
    margin: auto !important;
}

.btn-primary{
    color: white;
    background-color: #F9A392;
    border-color: #F9A392;
}

a.btn-primary:hover{
    background-color: #d97562;
    border-color: #d97562;
}

.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 30, 28, 0.7);
    z-index: 1;
}

.border-left{
    border-left: 1px solid lightgray !important;
}

.border-primary{
    border-color: #F9A392 !important;
}




.service-item{
    /* width: 300px; */
    height: 360px;
}

.service-item .service-text{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33,30,28,0.5);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


